{% extends 'lms/base_student.html' %}
{% load static %}
{% block title %}{{course.name}} {% endblock %}
{% block stylesheet %}{% endblock %}
{% block notifications %}{% endblock %}
{% block usersname_top %}Hasnat Abdullah{% endblock %}
{% block content %}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                <div class="mdk-drawer-layout__content page">

                    <div class="container-fluid page__heading-container">
                        <div class="page__heading d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left mb-2 pb-2">
                            <div>
                                <h4 class="m-lg-0 text-muted">{{course.name}}</h4>
                            </div>
                            <div class="text-muted">
                                <small>Updated on: {{lesson.updated_on}}</small>
                            </div>
                        </div>
                    </div>


                    <div class="container-fluid page__container">
                        <div class="row">
                            <div class="col-md-8">
                                {% if lesson.video %}
                                    <div class="card">
                                        <div style="line-height: 1.7rem;" class="embed-responsive embed-responsive-16by9">
                                            {{ lesson.video|safe }}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if lesson.lesson_type != 'scale' %}

                                    <div class="card">
                                        <div class="card-header card-header-tabs-basic nav border-top">
                                            <div class="flex">
                                                <h4 class="m-lg-1">{{module.name}}: {{ lesson.title }}</h4>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            {{ lesson.description|safe }}
                                        </div>
                                        <div class="card-header py-0 border-top">
                                            <div class="text-right">
                                                {% if next_Lesson_id %}
                                                    <a href="{% url 'takeCourse' cid=course.id sid=next_module_id lid=next_Lesson_id  %}" class="m-lg-1 text-white btn btn-primary">
                                                        Next Lesson<i class="material-icons mr-1">navigate_next</i>
                                                    </a>
                                                {% else %}
                                                    <a href="{%  url 'dashboard'  %}" class="m-lg-1 btn btn-success">
                                                        Course Complete <i class="material-icons mr-1 ">check_circle</i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card card-form">
                                        <div class=" card-body">
                                            <h4><strong class="card-header__title m-0">{{scale.scale_name.name}}</strong></h4>
                                            <p class="text-muted">{{scale.scale_name.description}}</p>
                                        </div>
                                        <div class="card-form__body">


                                            <div class="table-responsive border-bottom" >
                                                <form class="radio-button-form" method="POST">
                                                    {%  csrf_token %}
                                                    <table class="table mb-0 thead-border-top-0">
                                                        <thead>
                                                        <tr>
                                                            <th style="width:5px"></th>
                                                            <th>বিবৃতিসমূহ</th>
                                                            {% for i in answer %}
                                                                <th style="width: 24px; text-align: center;">{{i.choice}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                        </thead>
                                                        <tbody class="list" id="">
                                                        {% for q in question %}
                                                            <tr class="questionCount">
                                                                <td>{{ q.serial }}</td>
                                                                <td>{{ q.question }}</td>
                                                                {% for i in answer %}
                                                                    <td style="text-align: center;"><input type="radio" class ="check" name="{{ q.id }}" id="{{ i.value }}" value="{{ i.value }}" required="required"></td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <div class="form-group text-center mb-3">
                                                        <button class="btn btn-lg btn-block btn-success" type="submit" name="resultButton" id = "totalSum">Submit</button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4" data-perfect-scrollbar>
                                <ul class="list-group list-group-fit pb-2">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-left mr-1">
                                                <div class="text-muted"> </div>
                                            </div>
                                            <div class="media-body">
                                                <h4>{{module.name}}: Lesson List</h4>
                                            </div>
                                        </div>
                                    </li>
                                    {% for l in lesson_list %}
                                            {% url 'takeCourse' cid=course.id sid=module.id lid=l.id as this_url %}
                                            {% if request.path == this_url %}
                                                <li class="list-group-item active">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="media-left">{{ forloop.counter }}.</div>
                                                        </div>
                                                        <div class="media-body">
                                                            <a class="text-white" href="{% url 'takeCourse' cid=course.id sid=module.id lid=l.id %}">{{l.title}}</a>
                                                        </div>
                                                        <div class="media-right">
                                                            {% if request.path != this_url %}
                                                                <i class="material-icons icon-16pt text-muted">check_circle</i>
                                                            {% else %}
                                                                <i class="material-icons icon-16pt text-success">check_circle</i>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="list-group-item">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="text-muted">{{ forloop.counter }}.</div>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="{% url 'takeCourse' cid=course.id sid=module.id lid=l.id %}">{{l.title}}</a>
                                                        </div>
                                                    <!--course complete sign
                                                        <div class="media-right">
                                                                <i class="material-icons icon-16pt text-muted">check_circle</i>
                                                        </div> -->
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                </ul>

                                <!-- Sessions -->
                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title">Session List</h4>
                                        </div>
                                    </div>

                                    <ul class="list-group list-group-fit">
                                        {% for m in module_list %}
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">{{ forloop.counter }}.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="{% url 'CourseSession' cid=course.id sid=m.id %}">{{m.name}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title">My Progress</h4>
                                            <div class="card-subtitle text-muted">Current lesson progress</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="#" class="btn {% if percentage_complete == 100 %} btn-success {% else %} btn-light text-muted {% endif %}"><i class="material-icons icon-16pt">check_circle</i> Complete</a>
                                        </div>
                                    </div>
                                    <div class="p-2 px-4 d-flex align-items-center">
                                        <div class="progress" style="width:100%;height:6px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{percentage_complete}}%;" aria-valuenow="{{percentage_complete}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="ml-2 text-primary">
                                            {{percentage_complete}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END drawer-layout__content -->
{% endblock %}

{% block usersname %}Hasnat Abdullah{% endblock %}
{% block usersrole %}Administrator{% endblock %}
{% block usersname2 %}Hasnat Abdullah{% endblock %}
{% block usersrole2 %}Administrator{% endblock %}
{% block todoblock %}{% endblock %}
{% block javascript %}
    {% if lesson.lesson_type == 'scale' %}
    <script>
        $(".radio-button-form").submit(function(e){
            let chk = document.querySelectorAll(".check:checked");
            let allRadioButton = document.querySelectorAll(".questionCount");
            let total = 0;
            let result = "OK";
            if(chk.length !== allRadioButton.length){
                return false;
            }
            else{
                chk.forEach(function(el){
                    total += parseInt(el.getAttribute('value'));
                });

            {% for s in score %}
                if (total<={{ s.to_value }} && total>={{ s.from_value }}){
                    result ="{{ s.result }}";
                }
            {% endfor %}
                document.getElementById("score").innerHTML = "Score: "+total;
                document.getElementById("level").innerHTML = "Depression Level: "+result;
                $("#modal-success").modal();
                //Data send to server to save
                $.ajax({
                    type: 'POST',
                    url: '{% url 'saveScore' scaleId=scale.scale_name.id %}',
                    data: {
                        score: total,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function() {
                        console.log("success");
                    },
                    error: function(data) {
                        console.log("error");
                    }
                });
                e.preventDefault();
            }
        });
    </script>
    {% endif %}
{% endblock %}