{% extends 'lms/base_student.html' %}
{% load static %}
{% block title %}Dashboard {% endblock %}
{% block stylesheet %}{% endblock %}
{% block notifications %}{% endblock %}
{% block content %}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                <div class="mdk-drawer-layout__content page">



                    <div class="container-fluid page__heading-container">
                        <div class="page__heading d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                            <h1 class="m-lg-0">Client Dashboard</h1>
                        </div>
                    </div>


                    <div class="container-fluid page__container">


                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title">In Progress</h4>
                                            <div class="card-subtitle text-muted">Recent Courses</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="{% url 'runningCourse' %}" class="btn btn-light">Browse All</a>
                                        </div>
                                    </div>




                                    <ul class="list-group list-group-flush mb-0" style="z-index: initial;">
                                        {% for ec in course  %}
                                            {% if ec.enrolment_status != 'completed' %}
                                                <li class="list-group-item" style="z-index: initial;">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="mr-3">
                                                            <img src="{{ec.course_id.featured_image.url}}" alt="course" class="img-fluid avatar avatar-4by3">

                                                        </a>
                                                        <div class="flex">
                                                            <a href="{% url 'enrollCourse' id=ec.course_id.id %}" class="text-body"><strong>{{ec.course_id.name}}</strong></a>
                                                            <div class="d-flex align-items-center">
                                                                <div class="progress" style="width: 100px; height:4px;">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ec.percent_complited}}%" aria-valuenow="{{ec.percent_complited}}" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <small class="text-muted ml-2">{{ec.percent_complited}}%</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title text-success">Completed Course</h4>
                                            <div class="card-subtitle text-muted">Recent Courses</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="{% url 'runningCourse' %}" class="btn btn-light">Browse All</a>
                                        </div>
                                    </div>


                                    <ul class="list-group list-group-flush mb-0" style="z-index: initial;">
                                        {% for ec in course  %}
                                            {% if ec.enrolment_status == 'completed' %}
                                                <li class="list-group-item" style="z-index: initial;">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="mr-3">
                                                            <img src="{{ec.course_id.featured_image.url}}" alt="course" class="img-fluid avatar avatar-4by3">

                                                        </a>
                                                        <div class="flex">
                                                            <a href="{% url 'enrollCourse' id=ec.course_id.id %}" class="text-body"><strong>{{ec.course_id.name}}</strong></a>
                                                            <div class="d-flex align-items-center">
                                                                <div class="progress" style="width: 100px; height:4px;">
                                                                    <div class="progress-bar bg-vuejs" role="progressbar" style="width: {{ec.percent_complited}}%" aria-valuenow="{{ec.percent_complited}}" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <small class="text-muted ml-2">{{ec.percent_complited}}%</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>
{% endblock %}

{% block usersrole %}Administrator{% endblock %}
{% block usersrole2 %}Administrator{% endblock %}
{% block todoblock %}{% endblock %}
{% block javascript %}{% endblock %}
