{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Login - CMHCB {% endblock %}
{% block stylesheet %}{% endblock %}
 {% block message %}
            <div class="alert alert-soft-success d-flex" role="alert">
                <i class="material-icons mr-3">check_circle</i>
                <div class="text-body">reset instructions.</div>
            </div>
{% endblock %}
{% block content %}

            <form action="index.html" novalidate>
                <div class="form-group">
                    <label class="text-label" for="phone_2">Mobile Number:</label>
                    <div class="input-group input-group-merge">
                        <input id="phone_2" type="number" required="" class="form-control form-control-prepended" placeholder="017XXXXXXXX">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-mobile-alt"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="password_2">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="password_2" type="password" required="" class="form-control form-control-prepended" placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <button class="btn btn-block btn-primary" type="submit">Login</button>
                </div>
                <div class="form-group text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="" id="remember">
                        <label class="custom-control-label" for="remember">Remember me for 30 days</label>
                    </div>
                </div>
                <div class="form-group text-center mb-0">
                    <a href="">Forgot password?</a> <br>
                    Don't have an account? <a class="text-underline" href="{% url 'signup' %}">Sign up</a>
                </div>
            </form>

{% endblock %}
{% block javascript %}{% endblock %}