{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Login - CMHCB {% endblock %}
{% block stylesheet %}{% endblock %}
{% block message %}
     {% if messages %}
         <div class="alert alert-soft-danger d-flex" role="alert">
                {% for message in messages %}
                    <div class="text-body">{{ message }}</div>
                {% endfor %}
         </div>
     {% endif %}
{% endblock %}

{% block content %}

            <form action="" method="POST">
            {%  csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="user">Mobile Number:</label>
                    <div class="input-group input-group-merge">
                        <input name="user" type="number" required="true" class="form-control form-control-prepended" placeholder="017XXXXXXXX">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons mr-2">call</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="password">Password:</label>
                    <div class="input-group input-group-merge">
                        <input name="password" type="password" required="" class="form-control form-control-prepended" placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <button class="btn btn-block btn-primary" type="submit">Login</button>
                </div>
                <div class="form-group text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="" id="remember">
                        <label class="custom-control-label" for="remember">Remember me for 30 days</label>
                    </div>
                </div>
                <div class="form-group text-center mb-0">
                    <a href="">Forgot password?</a> <br>
                    Don't have an account? <a class="text-underline" href="{% url 'signup' %}">Sign up</a>
                </div>
            </form>

{% endblock %}
{% block javascript %}{% endblock %}