{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Login - CMHCB {% endblock %}
{% block stylesheet %}{% endblock %}
 {% block message %}
            <div class="alert alert-soft-success d-flex" role="alert">
                <i class="material-icons mr-3">check_circle</i>
                <div class="text-body">reset instructions.</div>
            </div>
{% endblock %}
{% block content %}

            <form action="{% url 'index' %}" novalidate>
                <div class="form-group">
                    <label class="text-label" for="name_2">Full Name:</label>
                    <div class="input-group input-group-merge">
                        <input id="name_2" type="text" required="" class="form-control form-control-prepended" placeholder="Hasnat Abdullah">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="email_2">Mobile Number:</label>
                    <div class="input-group input-group-merge">
                        <input id="phone_2" type="number" required="" class="form-control form-control-prepended" placeholder="017XXXXXXXX">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-phone-alt"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="password_2">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="password_2" type="password" required="" class="form-control form-control-prepended" placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">lock</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2 text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" checked="" class="custom-control-input" id="terms" />
                        <label class="custom-control-label" for="terms">I accept <a href="#">Terms and Conditions</a></label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" type="submit">Create Account</button>
                </div>
                <div class="text-center">
                    <span>Have an account?</span> <a class="text-body text-underline" href="{% url 'login' %}"> Login</a>
                </div>
            </form>
{% endblock %}
{% block javascript %} {% endblock %}