{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Signup - CMHCB {% endblock %}
{% block stylesheet %}{% endblock %}
{% block message %}
     {% if messages %}
         <div class="alert alert-soft-danger d-flex" role="alert">
                {% for message in messages %}
                    <div class="text-body">{{ message }}</div>
                {% endfor %}
         </div>
     {% endif %}
{% endblock %}

{% block content %}
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="{{ form.first_name.id_for_label }}">Full Name:</label>
                    <div class="input-group input-group-merge">
                        {{ form.full_name }}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="{{ form.age.id_for_label }}">Age</label>
                        {{ form.age }}
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="{{ form.city.id_for_label }}">City</label>
                        {{ form.city }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.country.id_for_label }}">Country</label>
                    <div class="input-group input-group-merge">
                        {{ form.country }}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-map"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="{{ form.username.id_for_label }}">Mobile Number:</label>
                    <div class="input-group input-group-merge">
                        {{ form.username }}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-mobile"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="{{ form.password.id_for_label }}">Password:</label>
                    <div class="input-group input-group-merge">
                        {{ form.password }}
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">lock</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2 text-center">
                    <div class="custom-control custom-checkbox">
                        {{ form.check }}
                        <!--<input type="checkbox" checked="" class="custom-control-input" id="terms" />-->
                        <label class="custom-control-label" for="{{ form.check.id_for_label }}">I accept <a href="#">Terms and Conditions</a></label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success btn-lg btn-block mb-3" type="submit">Create Account</button>
                </div>
                <div class="text-center">
                    <span>Have an account?</span> <a class="text-body text-underline" href="{% url 'login' %}"> Login</a>
                </div>
            </form>
{% endblock %}
{% block javascript %} {% endblock %}