<p>এই ঘটনা ও অনুভূতির মাঝখানে মনের মধ্যে কিছু ব্যপার ঘটে। যেটাকে আমরা ভাবনা বা চিন্তা বলি। যে ছবিগুলো আসবে, সেগুলো দেখে
    মানুষ গুলোর অনুভূতি কি এবং তারা কি চিন্তা করছে তা বোঝার চেষ্টা করুন।</p>

<p><span class="marker">ঘটনা &ndash; ১&nbsp;</span></p>

<img alt="" class="img-fluid" src="/media/uploads/2021/04/09/image4.png"/>

<p>&nbsp;</p>

<form id="user-input-form" method="post" name="user-input-form">
    <div>
        <table class="mb-0 table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <p>একা দাড়িয়ে আছে যে বাচ্চাটা সে কেমন অনুভব করতে পারে?</p>
                </th>
            </tr>
            <tr>
                <th><textarea class="form-control" name="একা দাড়িয়ে আছে যে বাচ্চাটা সে কেমন অনুভব করতে পারে?"
                              rows="3"></textarea></th>
            </tr>
            <tr>
                <th>
                    <p>অন্য বাচ্চাগুলো কেমন অনুভব করতে পারে?</p>
                </th>
            </tr>
            <tr>
                <th>
                    <textarea class="form-control" name="অন্য বাচ্চাগুলো কেমন অনুভব করতে পারে?" rows="3"></textarea>
                        </th>
		    </tr>
            <tr>
                <th><p>একা দাড়িয়ে আছে যে বাচ্চাটা সে কি চিন্তা করছে বলে মনে হয়?</p></th>
            </tr>
            <tr>
                <th><textarea class="form-control" name="একা দাড়িয়ে আছে যে বাচ্চাটা সে কি চিন্তা করছে বলে মনে হয়?" rows="3"></textarea></th>
            </tr>
            <tr>
                <th>
                <p>অন্য বাচ্চাগুলো কি চিন্তা করছে বলে মনে হয়?</p>
                </th>
            </tr>
            <tr>
                <th><textarea class="form-control" name="অন্য বাচ্চাগুলো কি চিন্তা করছে বলে মনে হয়?" rows="3"></textarea></th>
            </tr>
	</thead>
</table>
</div>

<p>&nbsp;</p>

<p><span class="marker">ঘটনা &ndash; ২&nbsp;</span></p>

<p>&nbsp;</p>

<img alt="" class="img-fluid" src="/media/uploads/2021/04/09/image2.jpg"/>
<p><br />
&nbsp;</p>

<div>
<table  class="mb-0 table table-bordered table-striped">
	<tbody>
		<tr>
			<th>
			<p>ছবিতে যে মেয়েকে দেখতে পারছেন সে কেমন অনুভব করছে?</p>
			</th>
		</tr>
		<tr>
			<td><textarea class="form-control" name="ছবিতে যে মেয়েকে দেখতে পারছেন সে কেমন অনুভব করছে?" rows="3"></textarea></td>
		</tr>
		<tr>
			<th>
			<p>সে কি চিন্তা করছে?</p>
			</th>
		</tr>
		<tr>
			<td><textarea class="form-control" name="সে কি চিন্তা করছে?" rows="3"></textarea></td>
		</tr>
	</tbody>
</table>
</div>

<p><br />
<br />
&nbsp;</p>

<p><span class="marker">ঘটনা &ndash; ৩&nbsp;</span></p>

<img alt="" class="img-fluid" src="/media/uploads/2021/04/09/image1.jpg"/>

<div>
<table  class="mb-0 table table-bordered table-striped">
	<tbody>
		<tr>
			<th>
			<p>ছবিতে যে মেয়েকে দেখতে পারছেন সে কেমন অনুভব করছে?</p>
			</th>
		</tr>
		<tr>
			<td><textarea class="form-control" name="ছবিতে যে মেয়েকে দেখতে পারছেন সে কেমন অনুভব করছে?" rows="3"></textarea></td>
		</tr>
		<tr>
			<th>
			<p>সে কি চিন্তা করছে?</p>
			</th>
		</tr>
		<tr>
			<td><textarea class="form-control" name="সে কি চিন্তা করছে?" rows="3"></textarea></td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<p>কোনটা ইতিবাচক চিন্তা ছিল এবং কোনটা নেতিবাচক চিন্তা ছিল তা ক্লিক করুন।</p>

<div>
<table  class="mb-0 table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
			<th>
			<p>ঘটনা</p>
			</th>
			<th>
			<p>চিন্তার ধরন</p>
			</th>
			<th>
			<p>অনুভূতির ধরন</p>
			</th>
		</tr>
</thead>
	<tbody>

		<tr>
			<th>
			<p>ইতিবাচক</p>
			</th>
			<th>
			<p>নেতিবাচক</p>
			</th>
			<th>
			<p>ইতিবাচক</p>
			</th>
			<th>
			<p>নেতিবাচক</p>
			</th>
		</tr>
		<tr>
			<td>
			<p>১</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>২</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>৩</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p><br />
ধরুন, আপনি একটা অফিসে চাকরী করছেন। সেখানে কাজের অনেক চাপ। আপনার মনে হচ্ছে - সব কাজ আমাকেই করতে হয়।<br />
&nbsp;</p>

<div>
<table  class="mb-0 table table-bordered table-striped">
<thead class="thead-dark">
    <tr>
			<th>
			<p>কার্যকর চিন্তা:</p>
			</th>
			<th>
			<p>অকার্যকর চিন্তা:</p>
			</th>
		</tr>
</thead>
	<tbody>

        <tr>
			<td>
			<p>১। আমার কাজের স্টাইল সবার পছন্দ, এজন্য আমাকে দিয়ে কাজ করাতে সবাই সাচ্ছন্দ্য বোধ করে।</p>
			</td>
			<td>
			<p>১। আমাকে সবাই অপছন্দ করে এজন্য সব কাজ-অকাজ আমার উপর চাপায়।</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>অনুভূতি--------------------------(০-১০)</p>
			</td>
			<td>
			<p>অনুভূতি--------------------------(০-১০)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>২। আমার বস অনেক ব্যস্ত থাকে, সে যখন কুলিয়ে উঠতে পারে না তখন আমাকে দিয়ে কাজ করায়।</p>
			</td>
			<td>
			<p>২। আমার বস নিজে কাজ করে না আমাকে দিয়ে সব কাজ করায়।</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>অনুভূতি--------------------------(০-১০)</p>
			</td>
			<td>
			<p>অনুভূতি--------------------------(০-১০)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>৩। আসলে আমি কখনো ঠিক স্পষ্ট করে না বলতে পারি না, বা নিজের সমস্যার কথাটাও বলতে পারি না, তাই অন্যরা না বুঝেই আমার উপর কাজ চাপিয়ে দেয়।&nbsp;</p>
			</td>
			<td>
			<p>কেউ আমার ভাল মন্দের তোয়াক্কা করে না, আমাকে সবাই ব্যবহার করে।&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>অনুভূতি --------------------------(০-১)</p>
			</td>
			<td>
			<p>অনুভুতি --------------------------(০-১)</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<p><br />
<input class="btn btn-success btn-lg" name="submit" type="submit" value="Submit">
&nbsp;</p>
</form>
